<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.flyants.book">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <!--<uses-permission android:name="android.permission.GET_ACCOUNTS"/>-->

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 震动权限 -->



    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- 自动聚焦权限 -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:name=".NChatApplication"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.index.Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.setting.SettingView"></activity>
        <activity android:name=".view.setting.accountsecurity.AccountSecurityView"></activity>
        <activity android:name=".view.setting.msgnotice.MsgNoticeView"></activity>
        <activity android:name=".view.setting.privacy.PrivacyView"></activity>
        <activity android:name=".view.setting.chatrecord.ChatRecordView"></activity>
        <activity android:name=".view.setting.chatbackground.ChatBackgroundView"></activity>
        <activity android:name=".view.setting.general.GeneralView"></activity>
        <activity android:name=".view.my.meqrcode.MeQrCodeView"></activity>
        <activity android:name=".view.my.meinfo.MeInfoView"></activity>
        <activity android:name=".view.setting.password.PasswordView"></activity>
        <activity android:name=".view.login.LoginView"></activity>
        <activity android:name=".view.login.LoginCodeView"></activity>
        <activity android:name=".view.dynamic.publish.DynamicPublishView"></activity>
        <activity android:name=".view.setting.addmetype.AddMeMethodView"></activity>
        <activity android:name=".view.setting.about.AboutView"></activity>
        <!--<activity android:name=".view.photoalbum.SimplePhotoAlbumView"></activity>-->
    </application>

</manifest>